// sections background colors
$welcome-bgColor: #87509c;
$services-bgColor: #17c2a4;
$team-bgColor: #e7f1f8;
$skills-bgColor: #ffffff;
$portfolio-bgColor:  #ffdd99;
$opinions-bgColor: #d74680;
$getInTouch-bgColor: #3c5499;