@mixin buttons($bg-color) {
    margin-top: 60px;
    border: none;
    border-radius: 5px;
    background-color: $bg-color;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 25px 70px;
    box-sizing: border-box;
    transition: background-color .1s .1s ease-in-out;
    cursor: pointer;

    &:focus {
        outline: none;
        border: 2px dashed #fff;
    }

    &:hover {
        background-color: darken($bg-color, 20);
    }
}