.page-footer {
  background-color: $footer-bgColor;
  display: flex;
  justify-content: center;
  align-items: center;

  .links__list {
    list-style: none;
    display: flex;

    .links__item {
      a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        line-height: 30px;
        letter-spacing: 0.58px;
        padding: 0 20px;
        transition: color 0.1s 0.1s;

        &:hover {
          color: #30bae7;
        }
      }
    }
  }
}
